{% if facebookLink != '' or twitterLink != '' or googlePlusLink != '' or instagramLink != '' %}
<div class="c-social-links{% if forename is defined and forename != '' %}  c-social-links--chef{% endif %}">
  {% if forename is defined and forename != '' %}
  <h4 class="c-heading  c-heading--tiny">Connect with {{ forename }}</h4>
  {% endif %}
  <div class="c-social-links__icons">
    {% if facebookLink != '' %}
      <a href="{{ facebookLink }}" target="_blank" class="c-social-links__icon-logo fab fab-facebook-alt"></a>
    {% endif %}
    {% if twitterLink != '' %}
      <a href="{{ twitterLink }}" target="_blank" class="c-social-links__icon-logo fab fab-twitter"></a>
    {% endif %}
    {% if googlePlusLink != '' %}
      <a href="{{ googlePlusLink }}" target="_blank" class="c-social-links__icon-logo fab fab-googleplus-alt"></a>
    {% endif %}
    {% if instagramLink != '' %}
      <a href="{{ instagramLink }}" target="_blank" class="c-social-links__icon-logo fab fab-instagram"></a>
    {% endif %}
  </div>
</div>
{% endif %}
